@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@view-transition {
  navigation: auto;
}

@theme {
  --font-inter: var(--font-inter);

  --color-brand-orange-50: #fff8ee;
  --color-brand-orange-100: #fde7c2;
  --color-brand-orange-200: #fbcf90;
  --color-brand-orange-300: #f9ad55;
  --color-brand-orange-400: #f7941e;
  --color-brand-orange-500: #e8631d;
  --color-brand-orange-600: #dd531c;
  --color-brand-orange-700: #9f3716;
  --color-brand-orange-800: #661f0e;
  --color-brand-orange-900: #190703;

  --color-regal-blue-50: #ecfaff;
  --color-regal-blue-100: #d5f3ff;
  --color-regal-blue-200: #b4ecff;
  --color-regal-blue-300: #80e2ff;
  --color-regal-blue-400: #44ceff;
  --color-regal-blue-500: #19b0ff;
  --color-regal-blue-600: #0292ff;
  --color-regal-blue-700: #0079fa;
  --color-regal-blue-800: #0461c9;
  --color-regal-blue-900: #0b549d;
  --color-regal-blue-950: #0f3f76;

  --color-brand-blue-50: #eaf5ff;
  --color-brand-blue-100: #c5eeff;
  --color-brand-blue-200: #a0e2ff;
  --color-brand-blue-300: #7bd7ff;
  --color-brand-blue-400: #56ccff;
  --color-brand-blue-500: #1499d1;
  --color-brand-blue-600: #00587d;
  --color-brand-blue-700: #004866;
  --color-brand-blue-800: #002433;
  --color-regal-blue-900: #00121a;

  --color-neutral-0: #ffffff;
  --color-neutral-50: #f7f7f7;
  --color-neutral-100: #f0f0f0;
  --color-neutral-200: #e6e6e6;
  --color-neutral-300: #d9d9d9;
  --color-neutral-400: #a6a6a6;
  --color-neutral-500: #808080;
  --color-neutral-600: #595959;
  --color-neutral-700: #3d3d3d;
  --color-neutral-800: #2c2c2c;
  --color-neutral-900: #1a1a1a;
  --color-neutral-950: #0d0d0d;
  --color-neutral-1000: #000000;

  --color-system-danger-100: #fef2f2;
  --color-system-danger-200: #fee2e2;
  --color-system-danger-300: #fecaca;
  --color-system-danger-400: #fca5a5;
  --color-system-danger-500: #f87171;
  --color-system-danger-600: #ef4444;
  --color-system-danger-700: #dc2626;
  --color-system-danger-800: #b91c1c;
  --color-system-danger-900: #821717;
  --color-system-danger-1000: #450a0a;

  --color-system-positive-100: var(--color-brand-blue-50);
  --color-system-positive-200: var(--color-brand-blue-100);
  --color-system-positive-300: var(--color-brand-blue-200);
  --color-system-positive-400: var(--color-brand-blue-300);
  --color-system-positive-500: var(--color-brand-blue-400);
  --color-system-positive-600: var(--color-brand-blue-500);
  --color-system-positive-700: var(--color-regal-blue-900);
  --color-system-positive-800: var(--color-brand-blue-800);
  --color-system-positive-900: var(--color-brand-blue-800);
  --color-system-positive-1000: var(--color-regal-blue-900);

  --color-system-success-100: #e0f2fe;
  --color-system-success-200: #bae6fd;
  --color-system-success-300: #7dd3fc;
  --color-system-success-400: #38bdf8;
  --color-system-success-500: #0ea5e9;
  --color-system-success-600: #0284c7;
  --color-system-success-700: #0369a1;
  --color-system-success-800: #075985;
  --color-system-success-900: #0c4a6e;
  --color-system-success-1000: #082f49;

  --color-system-warning-100: #fffbeb;
  --color-system-warning-200: #fef3c7;
  --color-system-warning-300: #fde68a;
  --color-system-warning-400: #fcd34d;
  --color-system-warning-500: #fbbf24;
  --color-system-warning-600: #f59e0b;
  --color-system-warning-700: #d97706;
  --color-system-warning-800: #b45309;
  --color-system-warning-900: #79350c;
  --color-system-warning-1000: #451a03;

  --semantic-color-background-brand-primary-hover: var(--color-brand-blue-800);
  --semantic-color-background-brand-primary: var(--color-regal-blue-950);
  --semantic-color-background-brand-secondary-hover: var(--color-brand-orange-700);
  --semantic-color-background-brand-secondary: var(--color-brand-orange-600);
  --semantic-color-background-brand-tertiary-hover: var(--color-brand-blue-50);
  --semantic-color-background-brand-tertiary: var(--color-brand-blue-100);
  --semantic-color-background-danger-primary-hover: var(--color-system-danger-600);
  --semantic-color-background-danger-primary: var(--color-system-danger-500);
  --semantic-color-background-danger-secondary-hover: var(--color-system-danger-300);
  --semantic-color-background-danger-secondary: var(--color-system-danger-200);
  --semantic-color-background-danger-tertiary-hover: var(--color-system-danger-200);
  --semantic-color-background-danger-tertiary: var(--color-system-danger-100);
  --semantic-color-background-primary-hover: var(--color-neutral-50);
  --semantic-color-background-primary: var(--color-neutral-0);
  --semantic-color-background-secondary-hover: var(--color-neutral-100);
  --semantic-color-background-secondary: var(--color-neutral-50);
  --semantic-color-background-tertiary-hover: var(--color-neutral-200);
  --semantic-color-background-tertiary: var(--color-neutral-100);
  --semantic-color-background-disabled-default: var(--color-neutral-300);
  --semantic-color-background-positive-primary-hover: var(--color-system-positive-600);
  --semantic-color-background-positive-primary: var(--color-system-positive-500);
  --semantic-color-background-positive-secondary-hover: var(--color-system-positive-300);
  --semantic-color-background-positive-secondary: var(--color-system-positive-200);
  --semantic-color-background-positive-tertiary-hover: var(--color-system-positive-200);
  --semantic-color-background-positive-tertiary: var(--color-system-positive-100);
  --semantic-color-background-utilities-blanket: rgba(0, 0, 0, 0.7);
  --semantic-color-background-utilities-measurement: #fae1fa;
  --semantic-color-background-utilities-overlay: rgba(0, 0, 0, 0.5);
  --semantic-color-background-utilities-scrim: rgba(255, 255, 255, 0.8);
  --semantic-color-background-warning-primary-hover: var(--color-system-warning-500);
  --semantic-color-background-warning-primary: var(--color-system-warning-400);
  --semantic-color-background-warning-secondary-hover: var(--color-system-warning-300);
  --semantic-color-background-warning-secondary: var(--color-system-warning-200);
  --semantic-color-background-warning-tertiary-hover: var(--color-system-warning-200);
  --semantic-color-background-warning-tertiary: var(--color-system-warning-100);
  --semantic-color-border-brand-primary: var(--color-regal-blue-900);
  --semantic-color-border-brand-secondary: var(--color-brand-orange-600);
  --semantic-color-border-brand-tertiary: var(--color-brand-blue-200);
  --semantic-color-border-danger-primary: var(--color-system-danger-700);
  --semantic-color-border-danger-secondary: var(--color-system-danger-600);
  --semantic-color-border-danger-tertiary: var(--color-system-danger-500);
  --semantic-color-border-primary: var(--color-neutral-200);
  --semantic-color-border-secondary: var(--color-neutral-300);
  --semantic-color-border-tertiary: var(--color-neutral-400);
  --semantic-color-border-disabled-default: var(--color-neutral-400);
  --semantic-color-border-positive-primary: var(--color-system-positive-800);
  --semantic-color-border-positive-secondary: var(--color-system-positive-600);
  --semantic-color-border-positive-tertiary: var(--color-system-positive-500);
  --semantic-color-border-utilities-measurement: #f19edc;
  --semantic-color-border-utilities-swatch: rgba(0, 0, 0, 0.24);
  --semantic-color-border-warning-primary: var(--color-system-warning-900);
  --semantic-color-border-warning-secondary: var(--color-system-warning-700);
  --semantic-color-border-warning-tertiary: var(--color-system-warning-600);
  --semantic-color-icon-on-brand-primary: var(--color-neutral-0);
  --semantic-color-icon-on-brand-secondary: var(--color-neutral-0);
  --semantic-color-icon-on-brand-tertiary: var(--color-brand-blue-800);
  --semantic-color-icon-brand-primary: var(--color-regal-blue-900);
  --semantic-color-icon-brand-secondary: var(--color-brand-orange-600);
  --semantic-color-icon-brand-tertiary: var(--color-brand-blue-200);
  --semantic-color-icon-danger-on-danger-primary: var(--color-system-danger-100);
  --semantic-color-icon-danger-on-danger-secondary: var(--color-system-danger-700);
  --semantic-color-icon-danger-on-danger-tertiary: var(--color-system-danger-700);
  --semantic-color-icon-danger-primary: var(--color-system-danger-700);
  --semantic-color-icon-danger-secondary: var(--color-system-danger-600);
  --semantic-color-icon-danger-tertiary: var(--color-system-danger-500);
  --semantic-color-icon-primary: var(--color-neutral-900);
  --semantic-color-icon-secondary: var(--color-neutral-500);
  --semantic-color-icon-tertiary: var(--color-neutral-400);
  --semantic-color-icon-disabled-default: var(--color-neutral-400);
  --semantic-color-icon-disabled-on-disabled: var(--color-neutral-400);
  --semantic-color-icon-positive-on-positive-primary: var(--color-system-positive-100);
  --semantic-color-icon-positive-on-positive-secondary: var(--color-system-positive-800);
  --semantic-color-icon-positive-on-positive-tertiary: var(--color-system-positive-900);
  --semantic-color-icon-positive-primary: var(--color-system-positive-800);
  --semantic-color-icon-positive-secondary: var(--color-system-positive-600);
  --semantic-color-icon-positive-tertiary: var(--color-system-positive-500);
  --semantic-color-icon-utilities-measurement: #d732a8;
  --semantic-color-icon-utilities-on-measurement: #8a226f;
  --semantic-color-icon-warning-on-warning-primary: var(--color-system-warning-1000);
  --semantic-color-icon-warning-on-warning-secondary: var(--color-system-warning-800);
  --semantic-color-icon-warning-on-warning-tertiary: var(--color-system-warning-900);
  --semantic-color-icon-warning-primary: var(--color-system-warning-900);
  --semantic-color-icon-warning-secondary: var(--color-system-warning-700);
  --semantic-color-icon-warning-tertiary: var(--color-system-warning-600);
  --semantic-color-text-on-brand-primary: var(--color-neutral-0);
  --semantic-color-text-on-brand-secondary: var(--color-neutral-0);
  --semantic-color-text-on-brand-tertiary: var(--color-brand-blue-800);
  --semantic-color-text-brand-primary: var(--color-regal-blue-900);
  --semantic-color-text-brand-secondary: var(--color-brand-orange-700);
  --semantic-color-text-brand-tertiary: var(--color-brand-blue-100);
  --semantic-color-text-danger-on-danger-primary: var(--color-system-danger-100);
  --semantic-color-text-danger-on-danger-secondary: var(--color-system-danger-700);
  --semantic-color-text-danger-on-danger-tertiary: var(--color-system-danger-700);
  --semantic-color-text-danger-primary: var(--color-system-danger-700);
  --semantic-color-text-danger-secondary: var(--color-system-danger-600);
  --semantic-color-text-danger-tertiary: var(--color-system-danger-500);
  --semantic-color-text-primary: var(--color-neutral-950);
  --semantic-color-text-secondary: var(--color-neutral-600);
  --semantic-color-text-tertiary: var(--color-neutral-400);
  --semantic-color-text-disabled-disabled: var(--color-neutral-400);
  --semantic-color-text-disabled-on-disabled: var(--color-neutral-400);
  --semantic-color-text-positive-on-positive-secondary: var(--color-system-positive-800);
  --semantic-color-text-positive-on-positive-tertiary: var(--color-system-positive-800);
  --semantic-color-text-positive-on-positive: var(--color-system-positive-100);
  --semantic-color-text-positive-primary: var(--color-system-positive-800);
  --semantic-color-text-positive-secondary: var(--color-system-positive-600);
  --semantic-color-text-positive-tertiary: var(--color-system-positive-500);
  --semantic-color-text-utilities-on-measurement: #8a226f;
  --semantic-color-text-utilities-on-overlay: #0c0c0d;
  --semantic-color-text-warning-on-warning-primary: var(--color-system-warning-1000);
  --semantic-color-text-warning-on-warning-secondary: var(--color-system-warning-800);
  --semantic-color-text-warning-on-warning-tertiary: var(--color-system-warning-900);
  --semantic-color-text-warning-primary: var(--color-system-warning-900);
  --semantic-color-text-warning-secondary: var(--color-system-warning-700);
  --semantic-color-text-warning-tertiary: var(--color-system-warning-600);
}

.dark {
  --semantic-color-background-brand-primary-hover: var(--color-brand-blue-500);
  --semantic-color-background-brand-primary: var(--color-regal-blue-900);
  --semantic-color-background-brand-secondary-hover: var(--color-brand-orange-500);
  --semantic-color-background-brand-secondary: var(--color-brand-orange-600);
  --semantic-color-background-brand-tertiary-hover: var(--color-brand-blue-200);
  --semantic-color-background-brand-tertiary: var(--color-brand-blue-100);
  --semantic-color-background-danger-primary-hover: var(--color-system-danger-700);
  --semantic-color-background-danger-primary: var(--color-system-danger-600);
  --semantic-color-background-danger-secondary-hover: var(--color-system-danger-900);
  --semantic-color-background-danger-secondary: var(--color-system-danger-800);
  --semantic-color-background-danger-tertiary-hover: var(--color-system-danger-1000);
  --semantic-color-background-danger-tertiary: var(--color-system-danger-900);
  --semantic-color-background-disabled: var(--color-neutral-700);
  --semantic-color-background-positive-primary-hover: var(--color-system-positive-800);
  --semantic-color-background-positive-primary: var(--color-system-positive-700);
  --semantic-color-background-positive-secondary-hover: var(--color-system-positive-900);
  --semantic-color-background-positive-secondary: var(--color-system-positive-800);
  --semantic-color-background-positive-tertiary-hover: var(--color-system-positive-1000);
  --semantic-color-background-positive-tertiary: var(--color-system-positive-900);
  --semantic-color-background-primary-hover: var(--color-neutral-900);
  --semantic-color-background-primary: var(--color-neutral-950);
  --semantic-color-background-secondary-hover: var(--color-neutral-800);
  --semantic-color-background-secondary: var(--color-neutral-900);
  --semantic-color-background-tertiary-hover: var(--color-neutral-700);
  --semantic-color-background-tertiary: var(--color-neutral-800);
  --semantic-color-background-utilities-blanket: rgba(0, 0, 0, 0.7);
  --semantic-color-background-utilities-measurement: #8a226f;
  --semantic-color-background-utilities-overlay: rgba(0, 0, 0, 0.5);
  --semantic-color-background-utilities-scrim: rgba(0, 0, 0, 0.8);
  --semantic-color-background-warning-primary-hover: var(--color-system-warning-500);
  --semantic-color-background-warning-primary: var(--color-system-warning-400);
  --semantic-color-background-warning-secondary-hover: var(--color-system-warning-900);
  --semantic-color-background-warning-secondary: var(--color-system-warning-800);
  --semantic-color-background-warning-tertiary-hover: var(--color-system-warning-1000);
  --semantic-color-background-warning-tertiary: var(--color-system-warning-900);
  --semantic-color-border-brand-primary: var(--color-brand-blue-500);
  --semantic-color-border-brand-secondary: var(--color-brand-orange-600);
  --semantic-color-border-brand-tertiary: var(--color-brand-blue-200);
  --semantic-color-border-danger-primary: var(--color-system-danger-200);
  --semantic-color-border-danger-secondary: var(--color-system-danger-400);
  --semantic-color-border-danger-tertiary: var(--color-system-danger-500);
  --semantic-color-border-disabled: var(--color-neutral-400);
  --semantic-color-border-positive-primary: var(--color-system-positive-200);
  --semantic-color-border-positive-secondary: var(--color-system-positive-400);
  --semantic-color-border-positive-tertiary: var(--color-system-positive-600);
  --semantic-color-border-primary: var(--color-neutral-600);
  --semantic-color-border-secondary: var(--color-neutral-500);
  --semantic-color-border-tertiary: var(--color-neutral-400);
  --semantic-color-border-utilities-measurement: #d732a8;
  --semantic-color-border-utilities-swatch: rgba(255, 255, 255, 0.24);
  --semantic-color-border-warning-primary: var(--color-system-warning-200);
  --semantic-color-border-warning-secondary: var(--color-system-warning-400);
  --semantic-color-border-warning-tertiary: var(--color-system-warning-600);
  --semantic-color-icon-brand-primary: var(--color-brand-blue-500);
  --semantic-color-icon-brand-secondary: var(--color-brand-orange-600);
  --semantic-color-icon-brand-tertiary: var(--color-brand-blue-200);
  --semantic-color-icon-danger-primary: var(--color-system-danger-200);
  --semantic-color-icon-danger-secondary: var(--color-system-danger-400);
  --semantic-color-icon-danger-tertiary: var(--color-system-danger-500);
  --semantic-color-icon-disabled: var(--color-neutral-500);
  --semantic-color-icon-on-brand-primary: var(--color-neutral-0);
  --semantic-color-icon-on-brand-secondary: var(--color-neutral-0);
  --semantic-color-icon-on-brand-tertiary: var(--color-brand-blue-800);
  --semantic-color-icon-on-danger-primary: var(--color-system-danger-100);
  --semantic-color-icon-on-danger-secondary: var(--color-system-danger-100);
  --semantic-color-icon-on-danger-tertiary: var(--color-system-danger-100);
  --semantic-color-icon-on-disabled: var(--color-neutral-400);
  --semantic-color-icon-on-positive-primary: var(--color-system-positive-100);
  --semantic-color-icon-on-positive-secondary: var(--color-system-positive-100);
  --semantic-color-icon-on-positive-tertiary: var(--color-system-positive-100);
  --semantic-color-icon-on-warning-primary: var(--color-system-warning-1000);
  --semantic-color-icon-on-warning-secondary: var(--color-system-warning-100);
  --semantic-color-icon-on-warning-tertiary: var(--color-system-warning-100);
  --semantic-color-icon-positive-primary: var(--color-system-positive-200);
  --semantic-color-icon-positive-secondary: var(--color-system-positive-400);
  --semantic-color-icon-positive-tertiary: var(--color-system-positive-600);
  --semantic-color-icon-primary: var(--color-neutral-0);
  --semantic-color-icon-secondary: var(--color-neutral-300);
  --semantic-color-icon-tertiary: var(--color-neutral-500);
  --semantic-color-icon-utilities-measurement: #f19edc;
  --semantic-color-icon-utilities-on-measurement: #fae1fa;
  --semantic-color-icon-warning-primary: var(--color-system-warning-200);
  --semantic-color-icon-warning-secondary: var(--color-system-warning-400);
  --semantic-color-icon-warning-tertiary: var(--color-system-warning-600);
  --semantic-color-text-brand-primary: var(--color-brand-blue-500);
  --semantic-color-text-brand-secondary: var(--color-regal-blue-900);
  --semantic-color-text-brand-tertiary: var(--color-brand-blue-200);
  --semantic-color-text-danger-primary: var(--color-system-danger-200);
  --semantic-color-text-danger-secondary: var(--color-system-danger-400);
  --semantic-color-text-danger-tertiary: var(--color-system-danger-500);
  --semantic-color-text-disabled: var(--color-neutral-500);
  --semantic-color-text-on-brand-primary: var(--color-neutral-0);
  --semantic-color-text-on-brand-secondary: var(--color-neutral-0);
  --semantic-color-text-on-brand-tertiary: var(--color-brand-blue-800);
  --semantic-color-text-on-danger-primary: var(--color-system-danger-100);
  --semantic-color-text-on-danger-secondary: var(--color-system-danger-100);
  --semantic-color-text-on-danger-tertiary: var(--color-system-danger-100);
  --semantic-color-text-on-disabled: var(--color-neutral-500);
  --semantic-color-text-on-positive-secondary: var(--color-system-positive-100);
  --semantic-color-text-on-positive-tertiary: var(--color-system-positive-100);
  --semantic-color-text-on-positive: var(--color-system-positive-100);
  --semantic-color-text-on-warning-primary: var(--color-system-warning-1000);
  --semantic-color-text-on-warning-secondary: var(--color-system-warning-100);
  --semantic-color-text-on-warning-tertiary: var(--color-system-warning-100);
  --semantic-color-text-positive-primary: var(--color-system-positive-200);
  --semantic-color-text-positive-secondary: var(--color-system-positive-400);
  --semantic-color-text-positive-tertiary: var(--color-system-positive-600);
  --semantic-color-text-primary: var(--color-neutral-0);
  --semantic-color-text-secondary: var(--color-neutral-400);
  --semantic-color-text-tertiary: var(--color-neutral-500);
  --semantic-color-text-utilities-on-measurement: #fae1fa;
  --semantic-color-text-utilities-on-overlay: #ffffff;
  --semantic-color-text-warning-primary: var(--color-system-warning-200);
  --semantic-color-text-warning-secondary: var(--color-system-warning-400);
  --semantic-color-text-warning-tertiary: var(--color-system-warning-600);
}

@utility bg-* {
  background-color: --value(--semantic-color-background-*);
  background-color: --value(--color-*);
}

@utility text-* {
  color: --value(--semantic-color-text-*);
  font-size: --value(--text-*);
  line-height: --value(--text-* --line-height);
}

@utility border-* {
  border-color: --value(--semantic-color-border-*);
}

@utility icon-* {
  color: --value(--semantic-color-icon-*);
}

/* @theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
   --color-background: var(--background);
   --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
   --color-primary: var(--primary);
   --color-primary-foreground: var(--primary-foreground);
   --color-secondary: var(--secondary);
   --color-secondary-foreground: var(--secondary-foreground);
   --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
} */

/* :root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: #0f3f76;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
} */

@layer base {
  /* * {
    @apply border-border font-inter outline-ring/50;
  } */

  body {
    @apply bg-primary text-primary;
  }
}

@utility container {
  @apply mx-auto max-w-[75rem] px-6;
}

@utility uppertitle {
  @apply text-brand-blue-600 text-xs tracking-wider uppercase;
}

@layer components {
  .back-to-top {
    @apply fixed right-6 bottom-6 z-20 not-focus:sr-only;
  }

  .skip-to-main {
    @apply fixed top-6 left-6 z-20 not-focus:sr-only;
  }

  .payload-richtext {
    /* @apply; */
  }

  .payload-richtext > * + * {
    @apply mt-4;
  }

  .payload-richtext iframe,
  .payload-richtext img {
    @apply my-10;
  }

  .payload-richtext blockquote {
    @apply my-8 border-l-4 px-8 text-xl italic;
  }

  .payload-richtext h4 {
    @apply text-primary text-2xl font-bold;
  }

  .payload-richtext h3 {
    @apply text-primary text-xl font-bold;
  }

  .payload-richtext ul {
    @apply list-disc space-y-2 pl-4;
  }

  .payload-richtext ol {
    @apply list-decimal space-y-2 pl-4;
  }
}
